body {
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: inline-block;
  width: 100%;
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 50px;
  gap: 12px;
  background-color: #f5f5f5;
  height: auto;
  width: 25rem;
}

.box {
  gap: 15px;
}

legend {
  position: absolute;
  border: 1px solid #ddd;
  width: 14rem;
  font-size: 2rem;
  top: -25px;
  background-color: white;
  padding: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: white;
  width: 100%;
}

textarea {
  width: 101%;
  height: 4rem;
  border: 1px solid #ddd;
}

#submit-btn {
  background-color: #6495ed;
  border: none;
  color: white;
  cursor: pointer;
  width: 105%;
}

@media (min-width: 25rem) and (max-width: 40rem) {
  form {
    width: 80%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  #name {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #emailWrapper {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #message {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #submit-btn {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #err {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  legend {
    width: 17rem;
  }
}

@media (min-width: 40rem) {
  form {
    width: 80%;
    display: block;
    gap: 10px;
  }

  #name {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-right: 5%;
  }
  #emailWrapper {
    display: inline-block;
    width: 60%;
    vertical-align: top;
  }
  legend {
    width: 20rem;
  }
  #submit-btn {
    width: 20%;
  }
}
